.cardShadow{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 3px 3px 0 0;
}

.cardShadow:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.postBorder{
    border-bottom: 1px solid #8C92AC;
}